.arrow-container {
    line-height: 200px;
}

.refuse {
    margin: 5%;
}

.arrow {
    vertical-align: middle;
    width: 100%;
    padding-top: 90%;
}

#napkin {
    width: 100%;
}

#gum {
    width: 100%;
    display: none;
}


.trash {
    width: 100%;
    padding: 10%;
    /* margin-bottom: 10%; */
}

/* <div style="">Text Content</div> */
